@model Exchange.Core.Models.ExchangeComparison
@{
    ViewData["Title"] = "BTC Rich ::Details";
}
<h2>Details for @string.Format("{0}-{1}", Model.Market, Model.Symbol)</h2>
<div class="row">
    <div class="col-lg-6">
        <h3>@Model.Low.Exchange Buy</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th class="col">Price</th>
                    <th class="col">Volume</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Low.Orders.Sell)
                {
                    <tr>
                        <td>@item.Price.ToString("N8")</td>
                        <td>@item.Volume.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h3>@Model.High.Exchange Sell</h3>
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Price</th>
                    <th scope="col">Volume</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.High.Orders.Buy)
                {
                    <tr>
                        <td>@item.Price.ToString("N8")</td>
                        <td>@item.Volume.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
